/* Write your code here. */
.emojiCard {
  list-style: none;
  width: 12rem;
  height: 12rem;
  margin: 1.5rem;
  border: 0.1rem solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.emojiBtn {
  background-color: transparent;
  border: none;
}
